{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container">
    <div class="row">



            <img src="{% static 'img/about/learn3.jpeg' %}" alt="test" class="img-responsive">

            <div class="carousel-caption col-sm-3 card" style="color:black;">

              <h2>E-Learning!!</h2>
              <h5 style="padding-bottom:0px;">The students of the future will demand the learning support that is appropriate for their situation or context. Nothing more, nothing less. And they want it at the moment the need arises. Not sooner, not later.</h5>

          </div>
         </div>
    </div>

       <div class="container">
      <div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="{% static 'img/online-learning.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <center><h5 class="card-text">A platform which makes learning easier and more effective.</h5></center>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="{% static 'img/about/img1.webp' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <center><h5 class="card-text">Online Learning accomodates everyone's needs</h5></center>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="{% static 'img/about/img2.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <center><h5 class="card-text">Offers access to updated contents</h5></center>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="{% static 'img/about/img3.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <center><h5 class="card-text">Lectures can be taken any number of times.</h5></center>
      </div>
    </div>
  </div>
</div>


      </div>
{% endblock %}